﻿<!DOCTYPE html>
<html>
<head>
    @{
        Layout = "~/view/_Layout.cshtml";
        Page.Title = "Impressum | e-Mensa FHAC";
    }
    @section head {
        <meta http-equiv="refresh" content="3;url=../view/start.cshtml"/>
    }
</head>
<body>

<div class="text-center">
    <p class="font-weight-normal">Sie werden in 3 Sekunden weitergeleitet.</p>
</div>

</body>
</html>