﻿@using webshop_v2.App_Code
<!DOCTYPE html>
<html>
<head>
    @{
        Layout = "~/view/_Layout.cshtml";
        Page.Title = "UCP | e-Mensa FHAC";
    }

</head>
<body>
@{
    if ( !string.IsNullOrEmpty ( Request ["abmelden_btn"] ) ) {
        Session ["user"] = null;
        Session ["login_error"] = "Sie wurden abgemeldet.";
        Response.Redirect ( "~/view/Login.cshtml" );
    }
    if ( ( User ) Session ["user"] == null ) {
        // user nicht eingeloggt
        if ( Session ["login_error"] == null ) {
            // noch keine fehlerhafte eingabe
            string usr , pass;
            if ( !string.IsNullOrEmpty ( usr = Request ["details_login_usr"] ) && !string.IsNullOrEmpty ( pass = Request ["details_login_pass"] ) ) {
                // name & pass gesetzt
                var sqlController = new SqlController ();
                try {
                    var user = sqlController.LoginUser ( usr , pass ); // Versuche user einzuloggen
                    Session ["user"] = user; // Wenn erfolgreich, speichere user objekt in session
                    Response.Redirect ( "~/view/Login.cshtml" ); // Lade Seite neu
                }
                catch ( BadLoginAttemptException e ) {
                    Session ["login_error"] = e.Message; // Wenn fehlgeschlagen, speichere fehlermeldung in session
                    Response.Redirect ( "~/view/Login.cshtml" ); // Lade Seite neu
                }
            }
            else {
                // Name oder Pass nicht gesetzt
                Session ["login_error"] = "Benutzername oder Passwort leer."; // Fehlermeldung speichern
                Response.Redirect ( "~/view/Login.cshtml" ); // Seite neu laden
            }
        }
        else {
            // fehlerhafte eingabe
            <div class="alert alert-danger" role="alert">
                <strong>Achtung!</strong> @Session["login_error"]
            </div>
            <div class="row text-center">
                <div class="col-md-4"></div>
                <div class="col-md-4 table-bordered p-md-2">

                    @{ Session ["login_error"] = null; }
                    <form id="details_login" action="../view/Login.cshtml" method="post">
                        <fieldset>
                            <label for="details_login_usr">Login</label>
                            <input class="form-control" type="text" id="details_login_usr" name="details_login_usr" placeholder="Benutzer"/>
                            <input class="form-control my-md-2" type="password" id="details_login_pass" name="details_login_pass" placeholder="Passwort"/>
                            <input class="btn btn-outline-info mt-md-3 w-75" type="submit" name="details_login_button" id="details_login_button" value="Anmelden"/>
                        </fieldset>
                    </form>
                </div>
                <div class="col-md-4"></div>
            </div>
        }
    }
    else {
        // user eingeloggt
        <div class="row text-center">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <p class="font-weight-normal">Hallo @( ( ( User ) Session ["user"] ).Alias ), Sie sind angemeldet als @( ( ( User ) Session ["user"] ).Role )</p>
            </div>
            <div class="col-md-4"></div>
        </div>
        <div class="row text-center">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <form method="post">
                    <input class="btn btn-danger" type="submit" id="abmelden_btn" name="abmelden_btn" value="Abmelden">
                </form>
            </div>
            <div class="col-md-4"></div>
        </div>
    }
}
</body>
</html>