﻿@using webshop_v2.App_Code
<!DOCTYPE html>
<html>
<head>
    @{
        Layout = "~/view/_Layout.cshtml";
        Page.Title = "Produkte | e-Mensa FHAC";
        var controller = new SqlController ();
        var oberkategorien = controller.GetOberkategorien ();
        var unterkategorien = controller.GetUnterkategorien ();
        var bilder = controller.GetBilder ();
        var produkte = controller.GetProdukte ();
    }
    @section head
    {
        <script type="text/javascript" src="../js/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="../js/bootstrap.js"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                $('.dropdown-toggle').dropdown();
            });
        </script>
    }

</head>
<body>


<div class="row w-100 mb-md-3">
    <div class="col-md-3"></div>
    <div class="col-md-9">
        @{

            Kategorie kat = null;
            if ( Request.QueryString ["kategorie"] != null && ( kat = unterkategorien.Find ( x => x.Id == int.Parse ( Request.QueryString ["kategorie"] ) ) ) != null ) {
                <h1 class="m-auto">Verfügbare Speisen (@kat.Bezeichnung)</h1>
            }
            else {
                <h1 class="m-auto">Verfügbare Speisen (Bestseller)</h1>
            }
        }
    </div>
</div>
<div class="row w-100">
    <aside class="col-md-3 table-bordered p-md-2">
        <form id="filter_items" method="get" action="#">
            <fieldset>
                <select class="custom-select w-75 mb-md-5" id="filter_items_dropdown" name="kategorie">
                    @*<option selected disabled>Kategorien</option>
                    <option value="1">Kategorie 1</option>
                    <option value="2">Kategorie 2</option>
                    <option value="3">Kategorie 3</option>*@
                    @foreach ( var kategorie in oberkategorien ) {
                        <optgroup label="@kategorie.Bezeichnung">
                            @foreach ( var unterkategorie in unterkategorien ) {
                                if ( unterkategorie.Oberkategorie == kategorie.Id ) {
                                    <option value="@unterkategorie.Id">@unterkategorie.Bezeichnung</option>
                                }
                            }
                        </optgroup>
                    }
                </select>
                @*<fieldset class="my-md-5">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value=""/>
                            nur verfügbare
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value=""/>
                            nur vegetarische
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value=""/>
                            nur vegane
                        </label>
                    </div>
                </fieldset>*@
                <input class="btn btn-outline-info mt-md-5 w-75" type="submit" @*name="filter_items_button" id="filter_items_button"*@ value="Speisen Filtern"/>
            </fieldset>
        </form>
    </aside>
    <section class="col-md-9">
        @{


            if ( Request.QueryString ["kategorie"] != null && unterkategorien.Find ( x => x.Id == int.Parse ( Request.QueryString ["kategorie"] ) ) != null ) {
                var kategorie = int.Parse ( Request.QueryString ["kategorie"] );

                var katProdukte = produkte.FindAll ( x => x.Kategorie == kategorie );
                <div class="row text-center">
                    @for ( var i = 0 ; i < ( 4 < katProdukte.Count ? 4 : katProdukte.Count ) ; i++ ) {
                        <div class="col-md-2" id="@katProdukte[i].Id">
                            <img src="data:image/gif;base64,@bilder.Find( x => x.Produkt == katProdukte [i].Id ).Binaerdaten" alt="@bilder.Find( x => x.Produkt == katProdukte [i].Id ).AltText"/>
                            <p class="font-weight-normal">@katProdukte[i].Name</p>
                            <a href="../view/detail.cshtml?id=@katProdukte[i].Id">Details</a>
                        </div>
                    }

                </div>
                <div class="row text-center">
                    @for ( var i = 4 ; i < ( 8 < katProdukte.Count ? 8 : katProdukte.Count ) ; i++ ) {
                        <div class="col-md-2" id="@katProdukte[i].Id">
                            <img src="data:image/gif;base64,@bilder.Find( x => x.Produkt == katProdukte [i].Id ).Binaerdaten" alt="@bilder.Find( x => x.Produkt == katProdukte [i].Id ).AltText"/>
                            <p class="font-weight-normal">@katProdukte[i].Name</p>
                            <a href="../view/detail.cshtml?id=@katProdukte[i].Id">Details</a>
                        </div>
                    }
                </div>
            }
            else {
                // keine Kategorie ausgewaehlt
                <div class="row text-center">
                    @for ( var i = 0 ; i < ( 4 < produkte.Count ? 4 : produkte.Count ) ; i++ ) {
                        <div class="col-md-2" id="@produkte[i].Id">
                            <img src="data:image/gif;base64,@bilder.Find( x => x.Produkt == produkte [i].Id ).Binaerdaten" alt="@bilder.Find( x => x.Produkt == produkte [i].Id ).AltText"/>
                            <p class="font-weight-normal">@produkte[i].Name</p>
                            <a href="../view/detail.cshtml?id=@produkte[i].Id">Details</a>
                        </div>
                    }

                </div>
                <div class="row text-center">
                    @for ( var i = 4 ; i < ( 8 < produkte.Count ? 8 : produkte.Count ) ; i++ ) {
                        <div class="col-md-2" id="@produkte[i].Id">
                            <img src="data:image/gif;base64,@bilder.Find( x => x.Produkt == produkte [i].Id ).Binaerdaten" alt="@bilder.Find( x => x.Produkt == produkte [i].Id ).AltText"/>
                            <p class="font-weight-normal">@produkte[i].Name</p>
                            <a href="../view/detail.cshtml?id=@produkte[i].Id">Details</a>
                        </div>
                    }
                </div>
            }
        }
    </section>
</div>


</body>
</html>