﻿@using webshop_v2.App_Code
<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
@{
    var sqlController = new SqlController ();
    sqlController.RegisterUser ( "swest" , "pass" );
}

</body>
</html>