﻿<!DOCTYPE html>
<html>
<head>
    @{
        Layout = "~/view/_Layout.cshtml";
        Page.Title = "Start | e-Mensa FHAC";
    }
</head>
<body>
<div class="row w-100">
    <figure class="m-md-auto w-100" style="background-color: lightseagreen; height: 200px;">Placeholder</figure>
</div>
<div class="row w-100 my-md-3">
    <div class="col-md-3">
        <p class="font-weight-normal">
            Der Dienst der <strong>e-Mensa</strong> ist noch beta. Sie können bereits <a href="../view/produkte.cshtml">Mahlzeiten</a>
            durchstöbern, aber noch nicht bestellen.
        </p>
    </div>
    <div class="col-md-6">
        <h3>Leckere Gerichte vorbestellen</h3>
        <p class="font-weight-normal">
            ... und gemeinsam mit Kommilitonen und Freunden essen
        </p>
    </div>
    <div class="col-md-3">
        <button type="button" class="btn btn-primary w-75 mt-md-1 float-right text-left">
            <img src="../resources/glyphicons/png/glyphicons-526-user-key.png" alt="keyicon"/>
            <span class="ml-md-2">Registrieren</span>
        </button><br/>
        <button type="button" class="btn btn-primary w-75 mt-md-1 float-right text-left">
            <img src="../resources/glyphicons/png/glyphicons-524-user-asterisk.png" alt="asteriskicon"/>
            <span class="ml-md-2">Anmelden</span>
        </button>
    </div>
</div>
<div class="row w-100">
    <div class="col-md-3">
        <p class="font-weight-normal">
            Registrieren Sie sich <a href="#">hier</a>, um über die Veröffentlichung des Dienstes per Mail informiert zu werden.
        </p>
    </div>
    <div class="col-md-9" style="background-color: lightseagreen; height: 150px;">Placeholder</div>
</div>

</body>
</html>